:root {
    --dark-bg-color: #1e1e1e;
    --light-bg-color: white;
    --dark-text-color: white;
    --light-text-color: black;
    --dark-link-color: #00a1f1;
    --light-link-color: #4285f4;    
}

* {
    box-sizing: border-box;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 10em;
    left: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    transition: 1s;
}

body.dark-mode {
    background-color: #1e1e1e;
}

body.light-mode {
    background-color: white;
}

p, span, h3 {
    font-family: 'Montserrat';
    margin: 0;
    opacity: 1;
    transition: 1s;
}

body.dark-mode p, body.dark-mode span, body.dark-mode h3 {
    color: white;
}

body.light-mode p, body.light-mode span, body.light-mode h3 {
    color: black;
}

.tech-exp {
    transition: 0s;
}

.tech-exp:hover {
    background-size: auto 86%, 100%;
    background-position: bottom 50% right 5px, 0;
    background-repeat: no-repeat;
    transition: 0s;
}

.cpp-exp {
    background: linear-gradient(45deg, rgba(99,155,211,0.5) 0%, rgba(55,130,188,0.5) 30%, rgba(4,77,141,0.5) 60%, rgba(4,77,141,0) 100%);
}

.cpp-exp:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png"), linear-gradient(45deg, rgba(99,155,211,0.5) 0%, rgba(55,130,188,0.5) 30%, rgba(4,77,141,0.5) 60%, rgba(4,77,141,0) 100%);
}

.java-exp {
    background: linear-gradient(45deg, rgba(83,122,151,0.5) 0%, rgba(241,137,37,0.5) 80%, rgba(83,122,151,0) 100%);
}

.java-exp:hover {
    background-image: url("http://assets.stickpng.com/images/58480979cef1014c0b5e4901.png"), linear-gradient(45deg, rgba(83,122,151,0.5) 0%, rgba(241,137,37,0.5) 80%, rgba(83,122,151,0) 100%);
}

.py-exp {
    background: linear-gradient(45deg, rgba(252,214,67,0.5) 0%, rgba(52,116,167,0.5) 60%, rgba(52,116,167,0) 100%);    
}

.py-exp:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png"), linear-gradient(45deg, rgba(252,214,67,0.5) 0%, rgba(52,116,167,0.5) 60%, rgba(52,116,167, 0) 100%);
}

.matlab-exp {
    background: linear-gradient(45deg, rgba(223,104,15,0.5) 0%, rgba(106,196,186,0.5) 60%, rgba(252,249,11,0) 100%);
}

.matlab-exp:hover {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png"), linear-gradient(45deg, rgba(223,104,15,0.5) 0%, rgba(106,196,186,0.5) 60%, rgba(0,0,0,0) 100%);/* rgba(252,249,11,0) 100%);*/
}

a {
    text-decoration: none;
    padding: 3px;
    background-color: transparent;
    transition: 1s;
}

a.light-mode {
    color: #4285f4;
}
    
a.dark-mode {
    color: #00a1f1;
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-weight: bold;
}

#header {
    z-index: 2;
    width: 100%;
    height: 2.3em;
    padding: 0.412em 1em;
    color: white;
    /* borders necessary if doing transition */
    border-bottom: 0px solid rgba(255, 255, 255, 0); 
    border-right: 0px solid rgba(255, 255, 255, 0);
    position: fixed;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5em;
    transition: all 1s;
}

#header.dark-mode {
    background-color: #353535;
    border-bottom: solid 1px rgb(72 72 72);
    box-shadow: 0 0px 10px 1px #000;
}

#header.light-mode {
    background-color: #4285F4;
    box-shadow: 0 0px 10px 1px #000;
}

#firstname {
    position: absolute;
    left: 1em;
    top: 0.588em;
    color: white;
    font-family:'Courier New', Courier, monospace;
    transition: all 1s;
}

#lastname {
    position: absolute;
    left: 6.3em;
    top: 0.588em;
    color: white;
    font-family:'Courier New', Courier, monospace;
    transition: all 1s;
}

/* body.header-not-at-top #header {
    width: 5.4em;
    height: 2.8em;
    padding: 0.2em 0.3em;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 20px 0;
    transition: all 1s;
}

body.header-not-at-top #header ul, body.header-not-at-top #header .blinking-cursor {
    opacity: 0;
    transition: all 0.2s;
}

body.header-not-at-top #lastname {
    left: 0.3em;
    padding-top: 0.7em;
    transition: all 1s;
}

body.header-not-at-top #firstname {
    left: 0.3em;
    top: 0.3em;
    transition: all 1s;
} */

.blinking-cursor {
    position: relative;
    left: 8.35em;
    font-size: 1em;
    color: white;
    transition: all ease-in-out 0.2s 1s;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

#topnav {
    height: 2.3em;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    right: 1em;
}

#topnav a {
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.2s;
}

#topnav li {
    float: right;
    transition: 1s;
}

#topnav li a {
    display: block;
    color: white;
    padding: 0.3em 1em;
    margin: 0 0.5vw;
    border-radius: 0.2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.4vw;
}

@media screen and (min-width:2500px) {
    #topnav li a {
        font-size: 35px;
    }
}

#topnav li:hover a:not(.active) {
    transition: all 0.2s;
    background-color: #F4B400;
    color: #555;
}

#topnav.dark-mode .active {
    background-color:#E50914;
    transition: 0.2s;
}

#topnav.light-mode .active {
    background-color: #0F9D58;
    transition: 0.2s;
}

#nav-lbl {
    display: none;
}

#theme-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 129px;
    right: 2.1%;
}

#theme-btn.disabled {
    pointer-events: none;
}

#theme-btn.dark-mode {
    background-color: transparent;
    transition: .4s;
}

#theme-btn.light-mode {
    background-color: transparent;
    transition: .4s;
}


#theme-btn.dark-mode:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.4s;
}

#theme-btn.light-mode:hover {
    cursor: pointer;
    background-color: #1e1e1e;
    transition: 0.4s;
}

#theme-switch {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    font-size: 35px;
    transition: none;
}

#theme-switch.dark-mode {
    color: #F4B400;
}

#theme-switch.light-mode {
    color: #4285F4;
}

section {
    position: relative;
}

.lg-view {
    display: inline-block;
}

.sm-view {
    display: none;
}

.sect-head {
    width: auto;
    height: 1.1em;
    position: absolute;
    /* each section needs to be positioned absolute from the top
    so that the scrolling underline can reference that value with
    the  scrollY property of the window object*/
    left: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: initial;
    margin: 0;
    transition: 1s;
}

.sect-head.dark-mode {
    color: white;
    border-bottom: 5px solid #353535;
}

.sect-head.light-mode {
    color: black;
    border-bottom: 5px solid #e9e9e9;
}

.anchor {
    position: absolute;
    bottom: 180px;
}

#overview-sect {
    top: 97px;
}

#overview {
    top: 0px;
}

#edu-sect {
    top: 1000px;
} 

#edu {
    top: 0px;
}

#exp-sect {
    position: relative;
    top: 2000px;
}

#exp {
    top: 0px;
}

#personal-proj-sect {
    top: 3000px;
} 

#personal-proj {
    top: 0px;
}

#abt-me-sect {
    top: 4000px;
}

#abt-me {
    top: 0px;
}

.underline {
    width: 100%;
    height: 5px;
    position: relative;
    top: -.1em;
    animation: underline 2s;
}

.scroll.underline {
    width: 0;
    max-width: 100%;
    transition:0.1s;
    animation: none;
}

.underline.dark-mode {
    background: #E50914;
}

.underline.light-mode {
    background-color: #DB4437;
}

@keyframes underline {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 384.06px;}
}

.sect-content {
    width: 95.833%;
    height: auto;
    position: absolute;
    top: 110px;
    margin-left: 2.058%;
    transition: 1s;
}

.sect-content.dark-mode {
    background-color: #2e2e2e;
}

.sect-content :not(.cir) {
    z-index: 1;
}

.sect-content.light-mode {
    background-color: #f2f2f2;
    border-radius: 10px;
}

.cir {
    border-radius: 50%;
    position: absolute;
    transition: background-color 1s;
    opacity: 0.5;
    z-index: 0;
}

.cir.dvd {
    filter: blur(5px) !important;
}

.cir.dark-mode {
    background-color: #E50914;
}

.cir.light-mode {
    background-color: #DB4437;
}

.cir img {
    width: 0;
    height: auto;
    transition: none !important;
}

/* .cir.dvd {
    background-image: url(dvd.png);
    background-size: 200px 120px;
    border-radius: 0 !important;
    height: 120px !important;
    width: 200px !important;
    background-color: transparent !important;
    top: 100px !important;
    right: 100px !important;
    transform: rotate(360deg);
    transition: 1s;
} */

.content-head {
    font-size: 3em;
    position: absolute;
    /* margin-left: 20px; */
    top: 20px;
    left: 224px;
}

.sm-view.content-head.sm-view.first-load {
    opacity: 0
}

.sm-view.content-head.sm-view {
    opacity: 1
}

.sect-content .content-date {
    position: absolute;
    opacity: 0;
    height: auto;
    /* margin-left: 20px; */
    top: 78px;
    left: 224px;
    font-size: 2em;
}

.sect-content.dark-mode .content-date {
    color: #ccc;
}

.sect-content.light-mode .content-date {
    color: #333;
}

.sect-content img {
    opacity: 0;
}

.sect-content .content-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sect-content h3 {
    margin: 10px 0 0 0;
    font-size: 2.2em;
    justify-self: center;
    opacity: 0;
}

.sect-content li {
    margin: 8px;
    font-size: 2em;
    font-family: Montserrat;
    opacity: 0;
}

.sect-content.dark-mode li {
    color: white;
}

.sect-content.light-mode li {
    color: black;
}

.sect-content p {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    opacity: 0;
}

#overview + .sect-content {
    height: 700px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#construction-img {
    opacity: 1;
}

#headshot {
    width: 136px;
    height: auto;
    opacity: 1;
    margin: 10px;
    border-radius: 50%;
    transition: 1s;
    box-shadow: 0px 0px 10px 1px #000;
}

#headshot.dark-mode {
    /* border: 2px solid var(--dark-bg-color); */
}

#headshot.light-mode {
    /* border: 2px solid var(--light-bg-color); */
}

#ov-head {
    font-size: 4em;
    position: absolute;
    left: 224px;
    top: 60px;
}

#skills-container {
    height: 10vw;
    width: 96%;
    margin: 2%;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
}

#overview-sect .skill-img {
    height: 15%;
    width: auto;
    opacity: 1;
    position: relative;
    bottom: 10px;
}

#elevator-pitch {
    opacity: 1;
    font-size: 2.5vw;
    margin: 20px;
}

#edu + .sect-content {
    height: auto;
}

#edu.full-bar + .sect-content img {
    position: relative;
    opacity: 1;
    transition: 1s;
}

#edu.full-bar + .sect-content #ws-logo {
    transition: 1s 5s
}

#edu.full-bar + .sect-content p,
#edu.full-bar + .sect-content .content-date, 
#edu.full-bar + .sect-content h3, 
#edu.full-bar + .sect-content li, 
#edu.full-bar + .sect-content .sm-view.first-load {
    animation: text-fill 1s 1s forwards;
}

#edu.full-bar + .sect-content #ws-date, 
#edu.full-bar + .sect-content #ws-honors, 
#edu.full-bar + .sect-content #ws-courses, 
#edu.full-bar + .sect-content #ws-courses-list li,
#edu.full-bar + .sect-content #ws-honors-list li,
#edu.full-bar + .sect-content #ws-courses-list p, 
#edu.full-bar + .sect-content #ws-honors-list p,
#edu.full-bar + .sect-content #ws-head.first-load {
    animation: text-fill 1s 6s forwards;
}

#uf-logo {
    width: auto;
    height: 136px;
}

#uf-honors, #ws-honors {
    grid-column-start: 1;
    grid-row-start: 1
}

#uf-honors-list, #ws-honors-list {
    grid-column-start: 1;
    grid-row-start: 2
}

#uf-courses, #ws-courses {
    grid-column-start: 2;
    grid-row-start: 1
}

#uf-courses-list, #ws-courses-list {
    grid-column-start: 2;
    grid-row-start: 2
}

#cpp-logo {
    height: 40px;
    width: auto;
    position: relative;
    top: 7px;
}

#ws-logo {
    width: auto;
    height: 136px;
}

#ws-logo + .content-head, #ws-logo + .content-head + .content-head {
    top: 442px;
    left: 182.91px;
}

#ws-date {
    top: 500px;
    left: 182.91px;
}

#exp + .sect-content {
    height: 680px;
    /* background-image: linear-gradient(to right, #E50914, #1e1e1e); */
}

#exp.full-bar + .sect-content img {
    position: relative;
    opacity: 1;
    transition: 1s;
}

#exp.full-bar + .sect-content p, #exp.full-bar + .sect-content .sm-view.first-load,
#exp.full-bar + .sect-content p, #exp.full-bar + .sect-content .content-date {
    animation: text-fill 1s 1s forwards;
}

@keyframes text-fill {
    to {opacity: 1;}
}

#exp.full-bar + .sect-content .type-container {
    visibility: visible;
}

#iso-logo {
    width: auto;
    height: 20%;
}

#iso-date, #iso-logo + .content-head, #iso-logo + .content-head + .content-head {
    left: 155.62px;
}

#personal-proj + .sect-content {

}

#abt-me + .sect-content {

}

#contact-info {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    backdrop-filter: blur(2px);
    /* background-color: #aaa; */
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    transition: 1s;
    z-index: 2;
}

#contact-info.dark-mode {
    background-color: rgba(55,55,55,0.7);
    border-top: solid 1px rgba(80, 80, 80, 0.7);
}

#contact-info.light-mode {
    background-color: rgba(225,225,225,0.7);
    border-top: solid 1px rgba(185, 185, 185, 0.7);
}

#contact-info span {
    margin: 15px;
}

.whitespace {
    height: .01em;
    width: 100%;
    position: absolute;
    bottom: -4000px;
}

@media screen and (max-width: 1400px) { /*add dimensions for smaller pc/laptop not mobile*/ 

    #topnav {
        flex-direction: column;
        font-size: 1.4em;
        display:none;
    }

/* idea: see  https://ejosue.com also have own error page like this site/*/

    #topnav.light-mode li a:not(.active) {
        color: black;
    }

    #nav-lbl {
        cursor: pointer;
        width: 70px;
        height: 70px;
        display: block;
        position: absolute;
        top: 11px;
        right: 11px;
    }

    #nav-lbl input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    #nav-lbl .options-bar {
        z-index: 4;
        height: 10px;
        width: 50px;
        background: white;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        transition: 1s;
    }

    #top-bar {
        top: 10px;
    }

    #mid-bar {
        top: 30px;
    }

    #bot-bar {
        top: 50px;
    }

    #option-page {
        z-index: 3;
        cursor: initial;
        width: 100%;
        height: 0;
        background:rgba(185, 185, 185, 0.5);
        backdrop-filter: blur(2px);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 0;
        transition: height 1s;
    }

    #option-page.long {
        flex-direction: row;
        flex-wrap: wrap;
        transition: height 1s 0.25s;
    }

    #option-page.long > div {
        opacity: 0;
    }

    #option-page > div {
        margin: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 0;
        transition: all 0.5s;
        text-align: center;
    }

    #option-page > div a {
        color: #1e1e1e;
        font-weight: 1000;
    }

    #option-page.long > div a {
        transition: 0.25s 0.5s;
    }

    #opt-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        overflow: visible;
    }

    input:checked + #nav-icon .options-bar {
        background: #E50914;
        transition: 1s;
    }

    input:checked + #nav-icon #top-bar {
        transform: translate(0, 20px) rotate(45deg);
    }

    input:checked + #nav-icon #mid-bar {
        width: 0;
        right: 35px;
    }

    input:checked + #nav-icon #bot-bar {
        transform: translate(0, -20px) rotate(-45deg);
    }

    input:checked ~ #option-page {
        height: 100%;
        font-size: 7vw;
        transition: height 1s;
    }

    input:checked ~ #option-page > div {
        margin: 4vh 0;
        padding: 3vh 1em;
    }

    input:checked ~ #option-page.long > div {
        opacity: 1;
        margin: 4vh 1vh;
        padding: 2vh 1vh;
        transition: opacity 0.25s 1s;
    }

    /* #theme-btn {
        height: 100px;
        width: 100px;
        top: unset;
        bottom: 137px;
    }

    #theme-switch {
        top: unset;
        bottom: 152px;
        right: 52px;
        font-size: 70px;
    } */

    .sm-view {
        display: inline-block;
    }

    .lg-view {
        display: none;
    }

    #elevator-pitch {
        font-size: 4vmin;
    }

    #exp-sect {
        position: relative;
        top: 2078.4px;
    }

    #ws-logo + .content-head, #ws-logo + .content-head + .content-head {
        top: 520.4px;
    }

    #ws-date {
        top: 578.4px;
    }

    #contact-info {
        height: 100px;
        font-size: 2em;
        z-index: 2;
    }

    #contact-info span {
        margin-top: 30px;
    }

}
