:root {
    --accent: #0080ff;
    --text-primary: #000000;
    --text-secondary: #303030;
    --bg: #ffffff;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text-primary);
    font-size: 62.5%;
}

section {
    padding: 20px 0px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
    font-size: 3em;
}

.content.three-col {
    align-items: flex-start;
}

.content.three-col > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

section.hero {
    margin-top: 40px;
    margin-bottom: 60px;
}

.hero.graphic {
    position: relative;
    height: min(400px, 80vw);
    width: min(400px, 80vw);
}

.hero.graphic > div {
    position: absolute;
    height: 95%;
    width: 95%;
}

.hero.name {
    margin: 0 10px;
    font-size: min(80px, 10vw);
    text-align: center;
}

.hero > h3 {
    color: var(--text-secondary);
    font-size: min(40px, 6vw);
    font-style: italic;
}
